@charset "UTF-8";
html {
  font-size: 62.5%;
  /* 1 */ }

/* FONTS */
@font-face {
  font-family: 'arial_blackregular';
  src: url("../fonts/arial_black-webfont.eot");
  src: url("../fonts/arial_black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/arial_black-webfont.woff") format("woff"), url("../fonts/arial_black-webfont.ttf") format("truetype"), url("../fonts/arial_black-webfont.svg#arial_blackregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'saucerbb';
  src: url("../fonts/saucerbb-webfont.eot");
  src: url("../fonts/saucerbb-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/saucerbb-webfont.woff") format("woff"), url("../fonts/saucerbb-webfont.ttf") format("truetype"), url("../fonts/saucerbb-webfont.svg#saucer_bbregular") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  background: #000;
  overflow: hidden;
  height: 100%;
  width: 100%; }

html, body {
  margin: 0; }

body {
  font-family: saucerbb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
  text-align: center;
  position: absolute;
  width: 100%;
  background-color: transparent;
  color: #fff;
  top: 25%; }
  body .container-fluid {
    position: relative;
    z-index: 1; }
  body:before {
    -webkit-animation: rotate 720s linear infinite;
            animation: rotate 720s linear infinite;
    background: url(../img/stars3.jpg);
    -webkit-transition: opacity 6s ease-in-out;
            transition: opacity 6s ease-in-out;
    margin-left: -100%;
    margin-top: -100%;
    position: fixed;
    content: '';
    z-index: -1;
    top: 0;
    height: 300%;
    width: 300%;
    left: 50%;
    top: 50%; }

@media screen and (max-height: 640px) {
  body {
    top: 5%; }
    body:before {
      margin-top: 0; } }

h1, h2 {
  -webkit-transition: opacity .9s ease-in-out;
          transition: opacity .9s ease-in-out; }

h1 {
  letter-spacing: -0.025em;
  font-size: 6em; }

h2 {
  letter-spacing: 0.025em;
  font-size: 1.25em; }

.splash {
  -webkit-transition: opacity .35s;
          transition: opacity .35s;
  opacity: 0.16; }
  .splash.active {
    opacity: 1; }
  .splash h1 {
    font-size: 4.5em; }
  .splash h1, .splash h2 {
    line-height: 1em;
    margin: 0;
    text-transform: uppercase; }
  .splash h1, .splash h2, .splash h3 {
    text-shadow: 1px 1px 2px black; }
  .splash a {
    -webkit-transition: all .5s;
            transition: all .5s;
    letter-spacing: 0.25em;
    text-decoration: none;
    display: inline-block;
    font-size: 1.125em;
    margin-top: 12.5%;
    line-height: 3em;
    padding: 0 2em;
    color: #00FFE0;
    margin-top: 20vh;
    text-shadow: 1px 1px 1px black; }
    .splash a:hover {
      color: #F7FF08; }

/* Media Queries */
@media (min-width: 640px) {
  body {
    font-size: 16px; } }

@media screen and (max-width: 991px) {
  body {
    margin-top: 0; }
    body .splash a {
      margin-top: 6vh; } }

@media screen and (max-width: 736px) {
  body {
    margin-top: 12%; }
    body .splash a {
      line-height: 5rem;
      margin-top: 0; }
    body .splash p {
      margin: 0; }
    body .header {
      margin-bottom: 2rem; } }

@media screen and (max-width: 667px) {
  body {
    margin-top: 0; }
    body .splash p a {
      margin-top: 0; } }

@media screen and (max-width: 568px) {
  body .splash a {
    line-height: 4rem; } }

@media screen and (max-width: 542px) {
  .splash h3 {
    margin-bottom: 28px; }
  .splash a {
    border-radius: 5px;
    margin-top: 2vh;
    /* decrease spacing between links on splash page */
    width: 60%; }
    .splash a:hover {
      background: rgba(144, 224, 255, 0.95);
      color: rgba(5, 38, 51, 0.76);
      text-shadow: none; } }

@media screen and (max-width: 480px) {
  body {
    margin-top: 20%; }
    body .splash h3 {
      margin: 1rem 0; }
    body .splash a {
      line-height: 2rem;
      margin-bottom: 1rem; } }

@media screen and (max-width: 375px) {
  body {
    margin-top: 0; }
    body .splash p {
      margin: 2rem; } }

@media screen and (max-width: 320px) {
  body {
    margin-top: 22%; }
    body .splash p {
      margin: 0 0 1.5rem 0; } }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(1.25);
            transform: rotate(0deg) scale(1.25); }
  8.333% {
    -webkit-transform: rotate(30deg) scale(1.5);
            transform: rotate(30deg) scale(1.5); }
  16.667% {
    -webkit-transform: rotate(60deg) scale(1.25);
            transform: rotate(60deg) scale(1.25); }
  25% {
    -webkit-transform: rotate(90deg) scale(1.5);
            transform: rotate(90deg) scale(1.5); }
  33.333% {
    -webkit-transform: rotate(120deg) scale(1.25);
            transform: rotate(120deg) scale(1.25); }
  41.667% {
    -webkit-transform: rotate(150deg) scale(1.5);
            transform: rotate(150deg) scale(1.5); }
  50% {
    -webkit-transform: rotate(180deg) scale(1.25);
            transform: rotate(180deg) scale(1.25); }
  58.333% {
    -webkit-transform: rotate(210deg) scale(1.5);
            transform: rotate(210deg) scale(1.5); }
  66.667% {
    -webkit-transform: rotate(240deg) scale(1.25);
            transform: rotate(240deg) scale(1.25); }
  75% {
    -webkit-transform: rotate(270deg) scale(1.5);
            transform: rotate(270deg) scale(1.5); }
  83.333% {
    -webkit-transform: rotate(300deg) scale(1.25);
            transform: rotate(300deg) scale(1.25); }
  91.667% {
    -webkit-transform: rotate(330deg) scale(1.5);
            transform: rotate(330deg) scale(1.5); }
  100% {
    -webkit-transform: rotate(360deg) scale(1.25);
            transform: rotate(360deg) scale(1.25); } }

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(1.25);
            transform: rotate(0deg) scale(1.25); }
  8.333% {
    -webkit-transform: rotate(30deg) scale(1.5);
            transform: rotate(30deg) scale(1.5); }
  16.667% {
    -webkit-transform: rotate(60deg) scale(1.25);
            transform: rotate(60deg) scale(1.25); }
  25% {
    -webkit-transform: rotate(90deg) scale(1.5);
            transform: rotate(90deg) scale(1.5); }
  33.333% {
    -webkit-transform: rotate(120deg) scale(1.25);
            transform: rotate(120deg) scale(1.25); }
  41.667% {
    -webkit-transform: rotate(150deg) scale(1.5);
            transform: rotate(150deg) scale(1.5); }
  50% {
    -webkit-transform: rotate(180deg) scale(1.25);
            transform: rotate(180deg) scale(1.25); }
  58.333% {
    -webkit-transform: rotate(210deg) scale(1.5);
            transform: rotate(210deg) scale(1.5); }
  66.667% {
    -webkit-transform: rotate(240deg) scale(1.25);
            transform: rotate(240deg) scale(1.25); }
  75% {
    -webkit-transform: rotate(270deg) scale(1.5);
            transform: rotate(270deg) scale(1.5); }
  83.333% {
    -webkit-transform: rotate(300deg) scale(1.25);
            transform: rotate(300deg) scale(1.25); }
  91.667% {
    -webkit-transform: rotate(330deg) scale(1.5);
            transform: rotate(330deg) scale(1.5); }
  100% {
    -webkit-transform: rotate(360deg) scale(1.25);
            transform: rotate(360deg) scale(1.25); } }

.wp-container {
  font-size: 2rem;
  font-family: saucerbb; }
  .wp-container .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: right; }
    .wp-container .footer .copyright {
      padding: 1rem;
      color: #00FFE0; }
  .wp-container .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; }
    .wp-container .navigation ul {
      margin: 0; }
      .wp-container .navigation ul li {
        list-style: none;
        display: inline; }
    .wp-container .navigation--link {
      -webkit-transition: all .5s;
              transition: all .5s; }
      .wp-container .navigation--link:focus, .wp-container .navigation--link:hover  {
        text-decoration: none; }
      .wp-container .navigation--link a {
        color: #00FFE0;
        padding: 3rem;
        text-decoration: none; }
        .wp-container .navigation--link a:hover {
          color: #F7FF08; }
