/* FONTS */

@font-face {
	font-family: 'arial_blackregular';
	src: url('../fonts/arial_black-webfont.eot');
	src: url('../fonts/arial_black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/arial_black-webfont.woff') format('woff'), url('../fonts/arial_black-webfont.ttf') format('truetype'), url('../fonts/arial_black-webfont.svg#arial_blackregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'saucerbb';
	src: url('../fonts/saucerbb-webfont.eot');
	src: url('../fonts/saucerbb-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/saucerbb-webfont.woff') format('woff'), url('../fonts/saucerbb-webfont.ttf') format('truetype'), url('../fonts/saucerbb-webfont.svg#saucer_bbregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'newyork';
    src: url('../fonts/newyork-webfont.eot');
    src: url('../fonts/newyork-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/newyork-webfont.woff2') format('woff2'),
         url('../fonts/newyork-webfont.woff') format('woff'),
         url('../fonts/newyork-webfont.ttf') format('truetype'),
         url('../fonts/newyork-webfont.svg#new_yorknew_york') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ledlightregular';
    src: url('../fonts/ledlight-webfont.eot');
    src: url('../fonts/ledlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ledlight-webfont.woff2') format('woff2'),
         url('../fonts/ledlight-webfont.woff') format('woff'),
         url('../fonts/ledlight-webfont.ttf') format('truetype'),
         url('../fonts/ledlight-webfont.svg#ledlightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}