body {
  font-family: $body-font-family;
  font-size: 2.75em;

  .theme-light {
    color: $theme_light_body;
    @include text-shadow(1px, 1px, 1px, #000);
    h1,
    #spinner {
      color: $theme_light_h1;
    }
  }

  @include media(small-only) {
    font-size: 1.5em;
  }
  a,
  .ctl {
    text-decoration: none;
    transition: all 0.5s ease;
    color: $link_orange;
    &:hover {
      color: $link_yellow;
      text-shadow: $glow-effect;
      cursor: pointer;
    }
  }
  h1 {
    font-size: 3.5em;

    @include media(small-only) {
      font-size: 2.5em;
    }
  }
  h2 {
    font-size: 1.25em;
  }
  h3 {
    font-size: 1.1em;
  }
}
.footer {
  //position: fixed;
  //bottom: 0;
  width: 100%;
  text-align: right;
  font-family: $overlay-body-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .copyright {
    padding: 1rem;
    color: $link_color;
    @include text-shadow(2px, 1px, 1px, #000);
  }
}

h4 {
  font-size: 1em;
  font-style: oblique;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: $icon-font-family;
  speak-as: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-headphones:before {
  content: '\e910';
}
.icon-music:before {
  content: '\e911';
}
.icon-play:before {
  content: '\e912';
}
.icon-film:before {
  content: '\e913';
}
.icon-video-camera:before {
  content: '\e914';
}
.icon-file-text:before {
  content: '\e922';
}
.icon-file-text2:before {
  content: '\e926';
}
.icon-download:before {
  content: '\e960';
}
.icon-spinner:before {
  content: '\e97a';
}
.icon-spinner9:before {
  content: '\e982';
}
.icon-spinner10:before {
  content: '\e983';
}
.icon-power-cord:before {
  content: '\e9b7';
}
.icon-download3:before {
  content: '\e9c7';
}
.icon-star-full:before {
  content: '\e9d9';
}
.icon-info:before {
  content: '\ea0c';
}
.icon-cancel-circle:before {
  content: '\ea0d';
}
.icon-loop2:before {
  content: '\ea2e';
}
.icon-circle-up:before {
  content: '\ea41';
}
.icon-circle-right:before {
  content: '\ea42';
}
.icon-circle-down:before {
  content: '\ea43';
}
.icon-circle-left:before {
  content: '\ea44';
}
.icon-paragraph-justify:before {
  content: '\ea7a';
}
.icon-share:before {
  content: '\ea7d';
}
.icon-new-tab:before {
  content: '\ea7e';
}
.icon-share2:before {
  content: '\ea82';
}
.icon-amazon:before {
  content: '\ea87';
}
.icon-google-plus2:before {
  content: '\ea8c';
}
.icon-google-drive:before {
  content: '\ea8f';
}
.icon-facebook:before {
  content: '\ea90';
}
.icon-facebook2:before {
  content: '\ea91';
}
.icon-instagram:before {
  content: '\ea92';
}
.icon-whatsapp:before {
  content: '\ea93';
}
.icon-spotify:before {
  content: '\ea94';
}
.icon-twitter:before {
  content: '\ea96';
}
.icon-youtube:before {
  content: '\ea9d';
}
.icon-vimeo:before {
  content: '\eaa0';
}
.icon-behance:before {
  content: '\eaa8';
}
.icon-behance2:before {
  content: '\eaa9';
}
.icon-dropbox:before {
  content: '\eaae';
}
.icon-onedrive:before {
  content: '\eaaf';
}
.icon-github:before {
  content: '\eab0';
}
.icon-trello:before {
  content: '\eab3';
}
.icon-wordpress:before {
  content: '\eab4';
}
.icon-tumblr:before {
  content: '\eab9';
}
.icon-tumblr2:before {
  content: '\eaba';
}
.icon-appleinc:before {
  content: '\eabe';
}
.icon-skype:before {
  content: '\eac5';
}
.icon-reddit:before {
  content: '\eac6';
}
.icon-wikipedia:before {
  content: '\eac8';
}
.icon-linkedin:before {
  content: '\eac9';
}
.icon-linkedin2:before {
  content: '\eaca';
}
.icon-yelp:before {
  content: '\ead7';
}
.icon-file-pdf:before {
  content: '\eadf';
}
.icon-file-word:before {
  content: '\eae1';
}
.icon-file-excel:before {
  content: '\eae2';
}
