.splash {
	//font-family: saucerbb;
	font-family: $splash-body-font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	.site-brand {
		h1, h2, h3, h4, h5, h6 {
			font-family: $site-brand-font-family;
		}
		h3 {
			font-size: 8rem;
			//text-shadow:0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18, 0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
			animation: glowpulsate 10s infinite;
		}
		h4 {
			font-size: 3rem;
			animation: glowpulsate 20s infinite;
		}
		a {
			text-shadow: none;
			transition: text-shadow 2s;
			&:hover {
				text-shadow: $glow-effect;
			}
		}
	}
}
.overlay {
	font-family: $overlay-body-font-family;
	letter-spacing: .2em;
	p {
		margin-bottom: .5em;
	}
}
