body {
  font-family: $body-font-family;
  a {
    transition: all 0.5s ease;
    color: $link_orange;
    &:hover {
      text-decoration: none;
      color: $link_yellow;
      text-shadow: $glow-effect;
    }
  }
  h1 {
    font-size: 1.75em;
  }
  h2 {
    font-size: 1.25em;
  }
  h3 {
    font-size: 1.1em;
  }
}
/*
.splash-container {
  font-family: $splash-body-font-family;
}

.splash {
  //font-family: saucerbb;
  font-family: $splash-body-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .site-brand {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: $site-brand-font-family;
    }
    h3 {
      font-size: 8rem;
      //text-shadow:0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18, 0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
      animation: glowpulsate 5s infinite;
    }
    h4 {
      font-size: 3rem;
      animation: glowpulsate 20s infinite;
    }
    a {
      text-shadow: none;
      transition: text-shadow 2s;
      &:hover {
        text-shadow: $glow-effect;
      }
    }
  }
}
.controls {
  .site-brand {
    font-family: $site-brand-font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.2em;
    letter-spacing: 0.2em;
    ul {
      top: 0.5em;
    }
    a {
      animation: glowpulsate 10s infinite;
      color: $link_color;
      &:hover {
        text-decoration: none;
        text-shadow: $glow-effect;
      }
    }
  }
}
.overlay {
  font-family: $overlay-body-font-family;
  letter-spacing: 0.2em;
  p {
    margin-bottom: 0.5em;
  }
}
*/
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: right;
  font-family: $overlay-body-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .copyright {
    padding: 1rem;
    color: $link_color;
  }
}

h4 {
  font-size: 1em;
  font-style: oblique;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: $icon-font-family;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-download:before {
  content: '\e960';
}
.icon-download3:before {
  content: '\e9c7';
}
