
.wp-container {
	font-size: 2rem;
	font-family: saucerbb;
	.footer {
		position: fixed;
		bottom: 0;
		width: 100%;
		text-align: right;
		.copyright {
			padding: 1rem;
			color: $link_color;
		}
	}
	.navigation {
		//background: $nav_background_color;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		@include media(1024px) {
		}
		@include media(768px) {
		}
		@include media(731px) {
		}
		@include media(667px) {
		}
		@include media(411px) {
		}
		@include media(360px) { // Galaxy S5
		}
		ul {
			margin: 0;
			li {
				list-style: none;
				display: inline;
			}
		}
		&--link {
			transition: all .5s;
			//line-height: 3rem;
			&:hover {
				//background-color: $swatch-1;
			}
			&:focus, &:hover  {
				text-decoration: none;
			}
			a {
				color: $link_color;
				padding: 3rem;
				text-decoration: none;
				&:hover {
					color: $link_hover_color;
				}
			}
		}
	}
}